* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}

input {
  color: gray;
  font-size: 1.2em;
  padding: 10px;
  border: 2px solid #ccc;
  margin-bottom: 10px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-gif {
  align-content: center;
  margin-bottom: 10px;
}

.card p {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  text-align: center;
  font-size: 12px;
}

.card img {
  max-height: 170px;
  object-fit: cover;
}